{% extends 'layout.twig' %}

{% block title %}
	Détail
{% endblock %}

{% block header %}
	<nav class="navbar navbar-light bg-primary p-2">
		<a class="navbar-brand text-light" href={{folder ~ "/home/1"}}>Retour à la liste</a>
	</nav>
{% endblock header %}
